@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background-color: black;
}

.app {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-height: 1366px;
  width: 100%;
  max-width: 1024px;
  background-color: black;
}

.app .background-container {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app .background-container .background-img {
  /* width: 100%; */
  height: 100%;
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.app .background-container .background-img.animation {
  opacity: 0;
}

.app .navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(4px) saturate(80%);
          backdrop-filter: blur(4px) saturate(80%);
}

.app .navbar .title-hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
}

.app .navbar .title-hamburger-container .hamburger-btn {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.app .navbar .title-hamburger-container .hamburger-btn.active {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.app .navbar .title-hamburger-container .hamburger-btn .hamburger-bar {
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.app .navbar .title-hamburger-container .hamburger-btn .hamburger-bar.top-bar {
  top: 0.5rem;
}

.app .navbar .title-hamburger-container .hamburger-btn .hamburger-bar.top-bar.active {
  top: 18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.app .navbar .title-hamburger-container .hamburger-btn .hamburger-bar.mid-bar.active {
  background-color: transparent;
}

.app .navbar .title-hamburger-container .hamburger-btn .hamburger-bar.bottom-bar {
  bottom: 0.5rem;
}

.app .navbar .title-hamburger-container .hamburger-btn .hamburger-bar.bottom-bar.active {
  bottom: 18px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.app .navbar .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.app .navbar .form-container.active {
  height: 60vh;
}

.app .navbar .form-container .form-container__form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.app .navbar .form-container .form-container__form fieldset {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
  border: 1px solid white;
}

.app .navbar .form-container .form-container__form fieldset legend {
  font-size: 1rem;
  color: white;
}

.app .navbar .form-container .form-container__form fieldset .fieldset-grid {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 0.5rem;
  border-bottom: 1px solid white;
}

.app .navbar .form-container .form-container__form fieldset .form__checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.25rem 0;
}

.app .navbar .form-container .form-container__form fieldset .form__checkbox-container .form-checkbox {
  cursor: pointer;
  margin-right: 0.5rem;
}

.app .navbar .form-container .form-container__form fieldset .form__checkbox-container label {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.app .navbar .form-container .form-container__form .check-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  overflow: hidden;
}

.app .navbar .form-container .form-container__form .check-btns-container .check-all-btn,
.app .navbar .form-container .form-container__form .check-btns-container .uncheck-all-btn {
  margin: 0.5rem;
  min-height: 2.5rem;
  width: 7rem;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  outline: none;
  color: black;
  background-color: #ebebeb;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.app .navbar .form-container .form-container__form .check-btns-container .check-all-btn:enabled:hover,
.app .navbar .form-container .form-container__form .check-btns-container .uncheck-all-btn:enabled:hover {
  background-color: #d6d6d6;
}

.app .navbar .form-container .form-container__form .check-btns-container .check-all-btn:disabled,
.app .navbar .form-container .form-container__form .check-btns-container .uncheck-all-btn:disabled {
  opacity: 0.75;
  color: #c2c2c2;
}

.result-container {
  z-index: 10;
  height: 75%;
  width: 100%;
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (2fr 1fr)[1fr];
      grid-template-rows: repeat(1fr 2fr 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.result-container.start {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.result-container.animation {
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.result-container .result-container__race {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.result-container .result-container__img {
  max-height: 200px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.result-container .result-container__faction {
  height: 100%;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 2rem;
  font-family: 400;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.search-btn-container {
  z-index: 10;
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.search-btn-container.start {
  height: 100%;
}

.search-btn-container .search-btn {
  min-height: 2.5rem;
  width: 7rem;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  outline: none;
  color: black;
  background-color: #ebebeb;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-btn-container .search-btn:enabled:hover {
  background-color: #d6d6d6;
}

.search-btn-container .search-btn:disabled {
  opacity: 0.75;
  color: #c2c2c2;
}

@media screen and (max-width: 414px) {
  body {
    padding: 0rem;
  }
  .app {
    max-height: 736px;
    max-width: 414px;
  }
  legend {
    font-size: 0.9rem !important;
  }
  .form-checkbox {
    margin-right: 0.25rem !important;
  }
  label {
    font-size: 0.75rem !important;
  }
  .result-container__race {
    font-size: 1.5rem !important;
  }
  .result-container__faction {
    font-size: 1.25rem !important;
  }
}

@media screen and (max-width: 1366px) {
  body {
    padding: 0rem;
  }
  .app {
    max-height: 1366px;
    max-width: 1024px;
  }
  .result-container__race {
    max-width: 90%;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */