@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Merriweather';
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.app {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  max-height: 700px;
  width: 100%;
  max-width: 500px;

  background-color: black;

  .background-container {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    .background-img {
      max-height: 100%;
      filter: brightness(45%);
    }
  }

  .navbar {
    position: absolute;
    z-index: 100;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba($color: #000000, $alpha: 0.65);
    backdrop-filter: blur(4px) saturate(80%);

    .title-hamburger-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 4rem;
      padding: 0 1rem;

      .hamburger-btn {
        position: relative;
        z-index: 100;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 40px;
        width: 40px;

        cursor: pointer;

        outline: none;
        border: none;
        background-color: transparent;

        transition: all 0.5s ease;

        &.active {
          transform: rotate(270deg);
        }

        .hamburger-bar {
          position: absolute;

          height: 4px;
          width: 30px;

          background-color: white;

          transition: all 0.5s ease;

          &.top-bar {
            top: 0.5rem;

            &.active {
              top: 18px;
              transform: rotate(45deg);
            }
          }

          &.mid-bar {
            &.active {
              background-color: transparent;
            }
          }

          &.bottom-bar {
            bottom: 0.5rem;

            &.active {
              bottom: 18px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 0;
      width: 100%;
      overflow: hidden;

      transition: all 0.5s ease;

      &.active {
        height: 60vh;
      }

      .form-container__form {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0.5rem;

        fieldset {
          height: 100%;
          width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          padding: 0 0.5rem;

          border: 1px solid white;

          legend {
            font-size: 0.9rem;
            color: white;
          }

          .fieldset-grid {
            height: 100%;
            width: 100%;
            overflow: hidden;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;

            padding: 0.5rem;

            border-bottom: 1px solid white;
          }

          .form__checkbox-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin: 0.25rem 0;

            .form-checkbox {
              margin-right: 0.25rem;
            }

            label {
              font-size: 0.75rem;
              font-weight: 400;
              color: white;
            }
          }
        }

        .check-btns-container {
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 0.5rem;

          overflow: hidden;

          .check-all-btn,
          .uncheck-all-btn {
            margin: 0.5rem;

            min-height: 2.5rem;
            width: 7rem;

            color: black;
          }
        }
      }
    }
  }
}

.result-container {
  z-index: 10;
  height: 75%;
  width: 100%;

  margin-top: 4rem;

  display: grid;
  grid-template-rows: repeat(1fr 2fr 1fr);
  justify-items: center;
  align-items: center;

  &.start {
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  transition: all 0.8s ease;

  .result-container__race {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
  }

  .result-container__img {
    max-height: 200px;
    filter: drop-shadow(5px 5px 5px rgba($color: #000000, $alpha: 0.5));
  }

  .result-container__faction {
    height: 100%;
    max-width: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 1.25rem;
    font-family: 400;
    text-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);

    text-align: center;
  }
}

.search-btn-container {
  z-index: 10;
  height: 25%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.8s ease;

  &.start {
    height: 100%;
  }

  .search-btn {
    min-height: 2.5rem;
    width: 7rem;

    color: black;
  }
}
